.Character
{
  display: flex;
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #ffffff;
}
.list-box {
  box-sizing: border-box;
  padding: 0.3em;
  margin: 1px;
  background-color: black;
  outline-offset: 1px;
  text-align: left;
  text-size-adjust: auto;

}

.Character__imageContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  cursor: pointer;
  border: 4px dotted #ffffff;
}

.imagen {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0.3em;
  margin: 1px;
  border: solid 2px gold;
  outline: solid 2px rgb(89, 0, 255);
  outline-offset: 1px;
}
.logo {
  display: flex;
  height: 200%;
  width: 100%;
  padding: 0em;
  margin: 0px;
  border: solid 2px rgb(00, 0, 0);
  
  outline-offset: 1px;
}
.books {
  display: flex;
  width: 40%;
  padding: 0.3em;
  margin: 1px;
  border: solid 2px rgb(00, 0, 0);
  
  outline-offset: 1px;
}
.character__imageContainer:hover
{
  border-color: #6cd }

.containertemp{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Character__image-default
{
  font-size: 0.4rem;
}

.Character__infoContainer
{
  font-size: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.1;
}
.infounit
{
  padding: 1rem;
}

.Character__subinfoContainer
{
  font-size: 0.4rem;
  display: flex;
  
  flex-grow: 1;
  padding: 0.1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.li-item
{
  font-size: 0.2rem;
  text-align: left;
  background-color: black;
  outline-offset: 0.1rem;
  padding: 0;
  margin: 1cap;
}
.Character__info
{
  display: flex;
  margin: 1rem;
  padding: 1rem;
  text-decoration-color: bisque;
}
.titles
{
  display: flex;
  font-size: 1rem;
  text-align: center;
  outline-offset: 5rem;
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 1rem;
  background-color: black;
  width: 100%;
  object-fit: cover;
}
