.contenedor{
    background-color: gold;
    padding: 2%;
    overflow: hidden;
    height: 100%;
}

.izquierda{
    float: left ;
    padding: 1%;
    color: #f5f5dc;
    width: 25%;
    margin: 1% ;
    background: gold ;
    max-height: 70%;

}
.derecha{
    float: left ;
    padding: 10 rem;
    color: #f2f2ef;
    width:  70%;
    margin: 10 rem;
    background: black ;

}
.header{
    padding: 0%;
    display: flex;
    flex-direction: row;
    size-adjust: 100%; 
    object-fit: cover;
    background-image: -moz-linear-gradient('../images/gifs/Intro-logo.gif');
    
}
.logo{
    padding: none;
    max-width: 20%;
    background-color: aliceblue;
}
.image-logo{
    display: flex;
    padding: 0%;
    max-width: 100%;
    
}
.main-bar{
    display: inline;
    padding: 10%;
    max-width: 100%;
    text-size-adjust: 100%;
    size-adjust: 100%;
    object-fit: cover;
    font-size: 70px;
}
.search{
    display: flex;
    padding: 1%;
    max-width: 100%;
    text-size-adjust: 100%;
    size-adjust: 100%;
    object-fit: cover;
    
    background-color: gold;


}
.big-title{
    size-adjust: 100%;
    object-fit: cover;
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: wavy;
    text-size-adjust: 100%;
    font-size: 100px;
    background-image: image-set('../images/gifs/Intro-logo.gif');
    background-size: cover;
    background-position-y: center;
    padding: 0;
    margin: 0;
    font-weight: 900;
    /* background-clip: text; */
    color: transparent;
}
.sub-title{
    size-adjust: 100%;
    object-fit: cover;
    text-align: left;
    text-transform: uppercase;
    text-decoration-style: wavy;
    text-size-adjust: 100%;
    font-size: 25px;
    background-image: image-set('../images/gifs/Intro-logo.gif');
    background-size: cover;
    background-position-y: top;
    background-position-x: right;
    padding: 0;
    margin: 0;
    font-weight: 1000;
    background-clip: text; 
    color: rgb(46, 23, 1);
    font-feature-settings:"blws";
}
.button{
    background-color: black;
    padding: 1%;
    border-style: solid;
    border-color: bisque;
    border-radius: 20%;
    font-size: 80% ;

}
.page{
    max-height: 50%;
}
.black-p{
    color: black;
}
.p3{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: 0.5rem;
    padding: 2%;
    justify-content: left;
    min-width: 100%; 
    /* align-items: center; */
    text-align: left;
    text-wrap: balance;
    /* object-fit: fill; */
}
p2{
    font-size: 0.7rem;
    padding: 2%;
    text-align: left;
    text-wrap: balance;
    overflow-wrap: break-word;
}
p1{
    font-size: 1rem;
    padding: 1%;
    margin: 5%;
    text-align: left;
    text-wrap: balance;
}